<%- include('./partials/head') %>
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include('./partials/nav') %>
    </header>
    <main>
        <div id="hook-container">
            <div id="hook">
                <p class="single-day-regular hook-title">Welcome to Tanks For Fish!</p>
                Tanks For Fish is a family-friendly, eco-friendly, and affordable fish tank
                store. We specialize in providing the perfect fish tank for your
                fish, from beginner to advanced.
            </div>
        </div>
        <div id="main-content-container">
            <div id="main-content-left">
                <p>What you can expect <br> to find in-store: </p> 
                <ul>
                    <li>Fish tanks</li>
                    <li>Filters & filter <br>media</li>
                    <li>Substrates</li>
                    <li>Electricals</li>
                    <li>Food</li>
                </ul>
            </div>
            <div id="main-content">
                <p class="single-day-regular hook-title">Dive In Today!</p>
                Tanks For Fish has all your essentials for setting up your first tank.
                We have affordable prices so that you can keep your fish happy and healthy.
                It can be overwhelming if you are a first time fish owner, that why we are here for you!
                We can provide guidance and give tips to point you in the right direction.
                <p id="main-poem-intro">Many people think that owning a fish is boring, but you will come to find the
                    joy of having a fish.</p>
                <p id="main-thanks">T(h)anks for taking care of your fish!</p>
                <p id="product-link">Click <a href="/products/all">here</a> to see our products!</p>
            </div>
            <div id="main-content-right">
                Special Deals for
                Qualifying Items
                (in-store only)
            </div>
        </div>
    </main>
<%- include('./partials/footer') %>

</body>

</html>