<!DOCTYPE html>
<html>

<head>
    <title>Login with Google</title>
    <link rel="stylesheet" type="text/css" href="/css/template.css">
</head>

<body>
    <div id="login-container">
        <h1>Please login to see our awesome products</h1>
        <div class="google-logo"></div>
        <h2>Login with Google</h2>
        <a href="/auth/google"><button id="login-btn">Login with Google</button></a>
    </div>
</body>

</html>