main {
    display: flex;
    justify-content: space-between;
}

#shopping-cart {
    width: auto;
}

#cart-container {
    background-color: white;
    margin: 1%;
    border-radius: 5px;
    width: 70%;
    padding: .5%;
    height: fit-content;
    border-color: rgb(179, 179, 179);
}

.cart-item {
    border-style: solid;
    border-color: rgb(179, 179, 179);
    margin-bottom: 5px;
    display: flex;
    padding: 10px;
}

.quantity {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    margin-left: 10px;
}

img {
    width: 100px;
    height: 100px;
}

.item-info {
    margin-left: 15px;
}

.minus-btn {
    border-radius: 5px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.add-btn {
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
#aside{
    margin: 1%;
    width: 25%;
}
#total-container {
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: .5%;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(179, 179, 179);
}
#total-content{
    margin:1%;
}
#total-text {
    margin-right: 10px;
    white-space: nowrap;
}

#checkout-btn, #delivery-btn {
    width: 100%;
    background-color: rgb(189, 236, 245);
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#delivery-pickup-form {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#pick-up,
#delivery {
    margin-left: 0;
    padding-left: 0;
}

.footnote {
    font-size: 12px;
    text-align: left;
}
.quantity-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: auto;
    padding-right: 5%;
}
.remove-form{
    margin-top: auto;
    margin-bottom: auto;
}
.remove-btn {
    border-radius: 5px;
    margin-left: auto;
    margin-top: auto;
    background-color: rgb(250, 164, 164);
}
.remove-btn:hover {
    background-color: rgb(225, 118, 130);
}
#address-form-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-right: 5%;
    background-color: white;
    border-style: solid;
    border-color: rgb(179, 179, 179);
    border-radius: 5px;
}
#address-form{
    margin:10px;
}